:root {
	--primary-color: #000000;
	--secondary-color: #ffffff;
	--yellow-color: #bc9f2d;
	--dark-green-color: #4b6367;
	--light-green-color: #199f93;
	--background-color: #bebebe;
	--font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

body {
	padding: 50px;
	font: 18px var(--font-family);
	background-color: var(--background-color);
}

a {
	color: #00b7ff;
}

/* Acá empiezo con los estilos para el INDEX (log in) */
.container {
	display: flex;
	width: 100%;
	height: 100vh;
}

.left-section {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left-section img {
	max-width: 100%;
	height: auto;
}

.right-section {
	width: 50%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.image-container {
	display: flex;
	justify-content: center;
}

.right-section h1 {
	margin: 25px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	text-align: center;
}

.right-section .form-group {
	margin-bottom: 40px;
	padding: 0px 30px;
}

.right-section .form-group label {
	color: var(--dark-green-color);
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.right-section .form-group input {
	width: 100%;
	font-size: 14px;
	padding: 14px;
	border: none;
	border-radius: 8px;
	box-sizing: border-box;
}
.button-container {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.right-section button {
	font-weight: 800;
	font-size: 16px;
	padding: 10px 70px;
	background-color: var(--light-green-color);
	color: var(--yellow-color);
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.right-section button:hover {
	background-color: darken(var(--primary-color), 10%);
}
/* Estilos que agregue*/
/*estilos gestion turnos*/

.style-header{
	background-color: #4B6367; /* Fondo gris */
    border-bottom: 2px solid #FFFFFF; /* Borde blanco en la parte inferior */
    border-bottom-left-radius: 200px; /* Radio del borde inferior izquierdo */
	width: 100%; /* Ancho del 100% */
	height: 20%;
	padding: 50px; /* Ajusta según sea necesario */
    margin-bottom: 20px; /* Margen inferior para separarlo del contenido siguiente */
	display: flex;
    justify-content: space-between;
	color: #FFFFFF; /* Color del texto */
    margin: 0px; /* Elimina los márgenes */

}

/* Establece el padding del body solo para otros elementos */
body:not(.style-header) {
    padding: 0px;
}
button {
	padding: 10px 20px;
	color: rgba(243,167,18,1);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Mulish;
	font-weight: Bold;
	font-size: 30px;
	width: 250px;
	height: 130px;
	opacity: 1;
	text-align: center;
	background: rgba(31,199,184,1);
	border-radius: 17px;
	border:0px;
	margin:10px;
}
/*Estilos para nuevo turno*/
/*para pisar estilos de botom*/
.custom-btn {
	background-color: #323741;
	border-color: #323741;
	color: white;
	padding: 5px 10px; /* Ajusta el padding para cambiar la altura */
    height: auto; /* Asegura que la altura sea ajustada por el padding */
	width: 240px;
}

.custom-btn:hover {
	background-color: #282c34;
	border-color: #282c34;
}
.dropdown-menu {
	min-width: 240px; 
}
/*Estilos para consultar y modificar turno*/
.text-input{
	margin-top: 80px;
}
.style-input{
	width: 40%;
	height: 150%;
	border-radius: 8px;
	margin-top: 20px;
}
