:root {
	--primary-color: #000000;
	--secondary-color: #ffffff;
	--yellow-color: #bc9f2d;
	--dark-green-color: #4b6367;
	--light-green-color: #199f93;
	--background-color: #bebebe;
	/*--font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;*/
	--font-family: Mulish;
}

body {
	padding: 50px;
	font: 18px var(--font-family);
	background-color: var(--background-color);
}

a {
	color: #00b7ff;
}

.container {
	display: flex;
	width: 100%;
	height: 100vh;
}

.left-section {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left-section img {
	max-width: 100%;
	height: auto;
}

.right-section {
	width: 50%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.right-section img {
	max-width: 100%;
	height: auto;
}

.image-container {
	display: flex;
	justify-content: center;
	height: 40%;
}

.right-section h1 {
	margin: 25px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	text-align: center;
}

.right-section .form-group {
	margin-bottom: 40px;
	padding: 0px 30px;
}

.right-section .form-group label {
	color: var(--dark-green-color);
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.right-section .form-group input {
	width: 100%;
	font-size: 14px;
	padding: 14px;
	border: none;
	border-radius: 8px;
	box-sizing: border-box;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.right-section button {
	font-weight: 800;
	font-size: 30px;
	padding: 10px 70px;
	background-color: var(--light-green-color);
	color: var(--yellow-color);
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.right-section button:hover {
	background-color: var(--yellow-color);
	color: var(--dark-green-color);
}

.right-section .create-account {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--dark-green-color);
	margin: 40px 0px 10px;
}

.right-section .create-account p {
	margin: 0px 10px;
}
.right-section .create-account a {
	cursor: pointer;
	color: var(--dark-green-color);
	font-weight: bold;
}
/* Estilos que agregue*/
/*estilos gestion turnos*/

.style-header {
	width: 100%;
	height: 150px;
	background-color: var(--dark-green-color); /* Fondo gris */
	position: relative;
	top: 0px;
	left: 0px;

	border-bottom: 2px solid #ffffff; /* Borde blanco en la parte inferior */
	border-bottom-left-radius: 200px; /* Radio del borde inferior izquierdo */
	padding: 50px; /* Ajusta según sea necesario */
	margin-bottom: 20px; /* Margen inferior para separarlo del contenido siguiente */
	display: flex;
	justify-content: space-between;
	color: #ffffff; /* Color del texto */
	margin: 0px; /* Elimina los márgenes */
}

.reloj {
	font-family: Mulish, monospace;
	color: #ffffff;
	position: absolute;
	left: 90%;
	top: 5%;
	transform: translate(-50%);
	text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.tiempo {
	letter-spacing: 0.05em;
	font-size: 40px;
	padding: 1px 0;
}

.fecha {
	letter-spacing: 0.1em;
	font-size: 20px;
}

.nombre_admin {
	/* Nombre */
	width: 60%;
	color: var(--secondary-color);
	position: absolute;
	top: 15%;
	left: 10%;
	font-family: Mulish;
	font-weight: Bold;
	font-size: 60px;
	opacity: 1;
	text-align: left;
}

.foto_admin {
	/* Chica */
	width: 300px;
	height: 300px;
	background-image: url('../images/chica.png');
	background-size: cover;
	border-radius: 50%;
	margin-top: -150px;
	margin-left: 41.5%;
	position: absolute;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.foto_doctor {
	width: 300px;
	height: 300px;
	background-image: url('../images/doctor.png');
	background-size: cover;
	border-radius: 50%;
	margin-top: -150px;
	margin-left: 41.5%;
	position: absolute;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.foto_tec {
	width: 300px;
	height: 300px;
	background-image: url('../images/tecnico.jpg');
	background-size: cover;
	border-radius: 50%;
	margin-top: -150px;
	margin-left: 41.5%;
	position: absolute;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-container2 {
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	position: relative;
}

.button-container-3 {
	display: flex;
	justify-content: space-around;
	width: 90%;
	margin: 0 auto;
	padding: 20px;
}

.justificado {
	display: flex;
}

.centrado {
	display: block;
}

.con-foto {
	top: 200px;
}

.sin-foto {
	top: 30px;
}

.button-gral {
	background-color: var(--light-green-color);
	color: var(--yellow-color);
	cursor: pointer;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.button-gral-enlaces {
	display: inline-block;
	background-color: var(--light-green-color);
	color: var(--yellow-color);
	cursor: pointer;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.button-gral:hover {
	background-color: var(--dark-green-color);
}

.encabezado {
	width: 50%;
	color: var(--secondary-color);
	position: absolute;
	top: 15%;
	left: 30%;
	font-family: Mulish;
	font-weight: Bold;
	font-size: 60px;
	opacity: 1;
	text-align: left;
}

.icono_encabezado {
	width: 200px;
	height: 200px;
	background-size: cover;
	margin-top: -3%;
	left: 5%;
}

.user {
	background-image: url('../images/icono_persona.svg');
}

.turnos {
	background-image: url('../images/icono_calendario.svg');
}

.supplies {
	background-image: url('../images/jeringa.png');
}

/* Establece el padding del body solo para otros elementos */
body:not(.style-header) {
	padding: 0px;
}

button {
	padding: 10px 20px;
	color: rgba(243, 167, 18, 1);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Mulish;
	font-weight: Bold;
	font-size: 30px;
	width: 250px;
	height: 130px;
	opacity: 1;
	text-align: center;
	background: rgba(31, 199, 184, 1);
	border-radius: 17px;
	border: 0px;
	margin: 10px;
}

select {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--dark-green-color);
	color: var(--secondary-color);
	font-weight: bolder;
}

/* Para cuando se achica la pantalla */
@media only screen and (max-width: 768px) {
	/* Styles for screens smaller than 768px */
	.nombre_admin {
		font-size: 40px; /* Adjust font size for smaller screens */
	}

	.encabezado {
		font-size: 40px; /* Adjust font size for smaller screens */
	}
	.foto_admin {
		width: 200px;
		height: 200px;
		margin-top: -100px; /* Adjust margin for smaller screens */
	}

	.button-container2 {
		flex-direction: column; /* Stack buttons vertically */
		padding: 10px; /* Adjust padding for smaller screens */
		top: 150px; /* Adjust position for smaller screens */
		align-items: center;
	}

	.reloj {
		visibility: hidden;
	}

	.icono_encabezado {
		visibility: hidden;
	}

	.foto_doctor {
		visibility: hidden;
	}

	.foto_admin {
		visibility: hidden;
	}
}

/* NUEVO TURNO- TURNOS DISPONIBLES */
.dropdown-spacing {
	margin-bottom: 40px;
	width: 400px;
	font-size: 20px;
}
.new-appointment-container {
	width: 80%;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
}
.input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px auto;
}
.input-label {
	color: var(--dark-green-color);
	font-weight: bold;
	margin-bottom: 10px;
}
.input-custom {
	font-size: 20px;
	padding: 10px;
	width: 380px;
}
.select-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px auto;
}
.radio-button-group-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px auto;
}
.radio-button-group {
	display: flex;
	justify-content: center;
}

.radio-button {
	margin: 20px;
	font-size: 16px;
}

/* VALIDAR TURNOS */
.turnos-encontrados {
	display: none;
}
.paciente-encontrado {
	display: none;
}

.result-list {
	margin-top: 10px;
}

.no-results {
	color: red;
}

.form-container {
	width: 90%;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
}

.form-input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px auto;
}

.form-input-label {
	color: var(--dark-green-color);
	font-weight: bold;
	margin-bottom: 10px;
}
.form-input-custom {
	font-size: 20px;
	padding: 10px;
	width: 380px;
	border-radius: 5px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
}

.col-md-6 {
	flex: 1 0 50%;
	padding: 5px;
}
/* tabla de mostrar turnos*/
table {
	width: 100%;
	border-collapse: separate;
	margin: 20px 0;
	border-spacing: 70px 15px;
	text-align: center;
	background-color: #fff;
	border: 1px solid black; /* Black border for the table */
	border-radius: 15px; /* Rounded corners */
	overflow: hidden; /* Ensure rounded corners are visible */
}

.tableGris {
	width: 100%;
	border-collapse: separate;
	margin: 20px 0;
	border-spacing: 70px 15px;
	/*text-align: center; 
	background-color: #fff; */
	border: 1px solid black; /* Black border for the table */
	border-radius: 15px; /* Rounded corners */
	overflow: hidden; /* Ensure rounded corners are visible */
}

.responsive-table {
	overflow-x: auto;
}

/*Estilos de stock-update*/
#update-stock-form {
	margin-top: 20px;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}

#update-stock-form label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

#update-stock-form select {
	width: 50%;
	padding: 10px;
	margin-bottom: 50px;
	margin-right: 10px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 16px;
}

#update-stock-form button {
	margin-top: 120px;
}

/* STOCK-STATUS */

.stock-table {
	border-collapse: collapse;
	width: 95%;
}

.stock-table th,
td {
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid var(--dark-green-color);
}

.stock-table th {
	background-color: var(--light-green-color);
	text-align: center;
}
.estudio {
	padding: 4px;
	text-align: center;
}
