<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin-home.css" />
	<title>Document</title>
</head>
<body>
	<div class="fondo_verde">
		<span class="nombre_admin">01 - Cristina Pérez</span>
	</div>
	<div class="reloj">
	</div>
	<div class="foto_admin"></div>
	<div class="button-container">
        <button>Gestión De Turnos</button>
        <button>Gestión De Usuarios</button>
        <button>Gestión De Pacientes</button>
    </div>
</body>
</html>