<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Pagos</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
    <div class="style-header">
        <div class="icono_encabezado dolar"></div>
        <span class="encabezado">Gestión de Pagos</span>
    </div>
    <div class="reloj">
        <p class="tiempo"></p>
        <p class="fecha"></p>
    </div>
    
    <div class="button-container-3">
        <button type="button" class="button-gral" onclick="redirectParticular()">Particular</button>
        <button type="button" class="button-gral" onclick="redirectObraSocial()">Obra Social</button>
        <button class="button-gral" onclick="location.href='/appointments/appointment-search'">Atrás</button>
    </div>
    <script src="/scripts/reloj.js"></script>
</body>
</html>
