<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css?family=Mulish&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

		<title>Métodos de pago</title>
	</head>
	<body>
		<div class="style-header">
			<div class="icono_encabezado user"></div>
			<span class="encabezado"
				>Seleccionar forma <br />
				de pago</span
			>
		</div>
		<div class="reloj">
			<p class="tiempo"></p>
			<p class="fecha"></p>
		</div>
		<div class="button-container-management">
			<button class="button-gral">Efectivo</button>
			<button class="button-gral">Tarjeta</button>
			<button class="button-gral">
				Obra Social / <br />
				Prepaga
			</button>
		</div>
		<div class="back-button-container">
			<button
				class="back-button"
				onclick="location.href='/appointments/appointment-search'"
			>
				Cancelar
			</button>
		</div>
	</body>

	<script src="/scripts/reloj.js"></script>
</html>
