<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Historia Clínica</title>
    <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="style-header">
        <div class="icono_encabezado hc medical-record"></div>
        <span class="encabezado">Registrar Historia Clínica</span>
    </div>
    <div class="reloj">
        <p class="tiempo"></p>
        <p class="fecha"></p>
    </div>  
    
    <form id="medical-record-form" action="/medical-record" method="POST">
        <div class="form-section-hc">
            <h3>Detalles de la Consulta</h3>
            <label for="medical-record-id">ID Historia Clínica:</label>
            <input type="text" id="medical-record-id" name="medical-record-id" pattern="[A-Za-z0-9]+" required>

            <label for="patient-id">ID Paciente:</label>
            <input type="text" id="patient-id" name="patient-id" pattern="[A-Za-z0-9]+" required>

            <label for="patient-dni">DNI del Paciente:</label>
            <input type="number" id="patient-dni" name="patient-dni" required>

            <label for="doctor-id">ID Médico:</label>
            <input type="text" id="doctor-id" name="doctor-id" pattern="[A-Za-z0-9]+" required>

            <label for="consultation-date">Fecha de la Consulta:</label>
            <input type="date" id="consultation-date" name="consultation-date" required>
            
            <label for="consultation-reason">Motivo de la Consulta:</label>
            <textarea id="consultation-reason" name="consultation-reason" rows="4" required></textarea>
            
            <label for="diagnosis">Diagnóstico:</label>
            <textarea id="diagnosis" name="diagnosis" rows="4" required></textarea>
            
            <label for="treatment">Tratamiento:</label>
            <textarea id="treatment" name="treatment" rows="4" required></textarea>
        </div>
        
        <button class="button-gral-hc" type="submit">Registrar Historia Clínica</button>
    </form>
    <div class="button-container4 sin-foto justificado fijo">
        <button class="button-gral" onclick="location.href='/doctors/doctor-clinical-history-management'">Atrás</button> 
    </div>
    <script src="/scripts/reloj.js"></script>
    <script src="/scripts/patients.js"></script>
</body>
</html>
