<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	
	<title>Principal Médico</title>
</head>
<body>
	<div class="style-header">
		<span class="nombre_admin">01 - Valentina Gómez</span>
	</div>
	<div class="reloj">
		<p class="tiempo"></p>
		<p class="fecha"></p>
	</div>
	<div class="foto_doctor"></div>
	<div class="button-container2 con-foto justificado">
        <button class="button-gral">Llamar Paciente</button>
        <button class="button-gral">Gestión de Historias Clínicas</button>
        <button class="button-gral">Gestión de Stock</button>
    </div>
</body>

<script src="/scripts/reloj.js"></script>

</html>
