<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css?family=Mulish&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

		<title>Principal Técnico</title>
	</head>
	<body>
		<div class="style-header">
			<span class="nombre_admin">01 - Alana Bueno</span>
		</div>
		<div class="reloj">
			<p class="tiempo"></p>
			<p class="fecha"></p>
		</div>
		<div class="foto_tec"></div>
		<div class="button-container2 con-foto justificado button-container3">
			<button
				class="button-gral button-gral-index-doc"
				onclick="location.href='supplies/supplies-management'"
			>
				Gestión de Stock
			</button>
		</div>
		<div class="back-button-container">
			<button class="back-button" onclick="location.href='/'">
				Cerrar Sesión
			</button>
		</div>
	</body>

	<script src="/scripts/reloj.js"></script>
</html>
