<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet" /><link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    
  <title>Nuevo turno</title>
</head>
<body>
  <div class="style-header">
    <div class="icono_encabezado turnos"></div>
    <span class="encabezado">Nuevo turno</span>
  </div>
  <div class="reloj">
      <p class="tiempo"></p>
      <p class="fecha"></p>
  </div>

  <div class="button-container2 sin-foto">
    <div style="align-items: center;">
    <select id="especialidades" name="especialidades">
      <option value="">Seleccione una especialidad</option>
      <option value="ginecologia">Ginecología</option>
      <option value="cardiologia">Cardiología</option>
      <option value="neurologia">Neurología</option>
      <option value="oftalmologia">Oftalmología</option>
      <option value="traumatologia">Traumatología</option>
    </select>
  </div>
  </div>
</body>

<script src="/scripts/reloj.js"></script>

</html>