<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css?family=Mulish&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

		<title>Gestión de pacientes</title>
	</head>
	<body>
		<div class="style-header">
			<div class="icono_encabezado user"></div>
			<span class="encabezado">Gestión de pacientes</span>
		</div>
		<div class="reloj">
			<p class="tiempo"></p>
			<p class="fecha"></p>
		</div>
		<div class="button-container2 sin-foto justificado">
			<button
				class="button-gral"
				onclick="location.href='/patients/patient-register'"
			>
				Agregar Paciente
			</button>
			<button
				class="button-gral"
				onclick="location.href='/patients/patient-search'"
			>
				Consultar Paciente
			</button>
			<button
				class="button-gral"
				onclick="location.href='/patients/patient-delete'"
			>
				Eliminar Paciente
			</button>
			<button class="button-gral" onclick="location.href='/home-admin'">Atrás</button>
		</div>

		<script src="/scripts/reloj.js"></script>
	</body>
</html>
