<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>Historial de turnos</title>

</head>
<body>
    <div class="style-header">
		<div class="icono_encabezado user"></div>
		<span class="encabezado">Historial de turnos</span>
	</div>
	<div class="reloj">
		<p class="tiempo"></p>
		<p class="fecha"></p>
	</div>	
    <div class="turnos-container">
        <% if (appointments && appointments.length > 0) { %>
            <ul>
                <% appointments.forEach(appointment => { %>
                    <li>
                        <p>Fecha: <%= appointment.fecha %></p>
                        <p>Hora: <%= appointment.hora %></p>
                        <p>Cliente: <%= appointment.cliente %></p>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No hay turnos reservados</p>
            <% } %>
    </div>

</body>
<script src="/scripts/reloj.js"></script>

</html>