<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>Comprobante de turno</title>

</head>
<body>
    <div class="style-header">
		<div class="icono_encabezado turnos"></div>
		<span class="encabezado" style="margin-top: 40px;">Comprobante de turno</span>
	</div>
	<div class="reloj">
		<p class="tiempo"></p>
		<p class="fecha"></p>
	</div>	
    <div class="RecuadroComprobanteTurno">
        <div class="primeros-elementos">
            <div class="columna">
                <div>
                    <img src="/images/logo.png" alt="Logo" class="logoCompTurno">
                </div>
            </div>
            <div class="columna">
                <div class="NombreClinica">
                    <h2>Clinica Se Prise</h2>
                </div>
            </div>
            <div class="columna">
                <div class="idturno">
                    <h2>ID: 12345</h2>
                </div>
            </div>
        </div>
        <div class="columna">
            <div class="profesional">
                <h2>Paciente: Juan Garcia</h2>
            </div>
        </div>
        <div class="columna">
            <div class="consultorio">
                <h2>Profesional: Dr. Nombre Apellido</h2>
            </div>
        </div>
        <div class="textocompTurnos">
            <div><h3>Fecha: 02/03/2024</h3></div>
            <div><h3>Hora: 10:00</h3></div>
            <div><h3>Especialidad: Estudio clinico</h3></div>
        </div>
    </div>
   
</body>
<script src="/scripts/reloj.js"></script>

</html>