<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css?family=Mulish&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

		<title>Gestión de pacientes</title>
	</head>
	<body>
		<div class="style-header">
			<div class="icono_encabezado supplies"></div>
			<span class="encabezado">Gestión de stock</span>
		</div>
		<div class="reloj">
			<p class="tiempo"></p>
			<p class="fecha"></p>
		</div>
		<div class="button-container2 sin-foto justificado">
			<button
				class="button-gral"
				onclick="location.href='/supplies/stock-status'"
			>
				Consultar Stock
			</button>
			<button
				class="button-gral"
				onclick="location.href='/supplies/stock-update'"
			>
				Actualizar Stock
			</button>
		</div>
		<script src="/scripts/reloj.js"></script>
	</body>
</html>
