<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Modificar Usuario</title>
		<link
			href="https://fonts.googleapis.com/css?family=Mulish&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="style-header">
			<div class="icono_encabezado user"></div>
			<span class="encabezado">Editar Usuario</span>
		</div>
		<div class="reloj">
			<p class="tiempo"></p>
			<p class="fecha"></p>
		</div>
		<div class="edit-page-container">
			<form id="user-update" action="/users/user-save" method="post">
				<input type="hidden" name="idUser" value="<%= user.idUser %>" />
				<div class="edit-input">
					<label for="email">Email:</label>
					<input
						type="email"
						id="email"
						name="email"
						value="<%= user.email %>"
						required
					/>
				</div>
				<div class="edit-input">
					<label for="password">Contraseña:</label>
					<input
						type="text"
						id="password"
						name="password"
						value="<%= user.password %>"
						required
					/>
				</div>
				<div class="edit-input">
					<label for="permisos">Permisos</label>
					<select
						class="dropdown-spacing"
						id="permisos"
						name="permisos"
						required
					>
						<option value="admin">Admin</option>
						<option value="medico">Médico</option>
						<option value="tecnico">Técnico</option>
					</select>
				</div>
				<div class="button-container">
					<button
						type="button"
						class="back-button"
						onclick="location.href='/users/user-management'"
					>
						Volver
					</button>
					<button type="submit" class="button-gral">
						Guardar Cambios
					</button>
				</div>
			</form>
		</div>
		<script>
			document
				.getElementById('user-update')
				.addEventListener('submit', function (event) {
					event.preventDefault();

					const form = event.target;
					const formData = new FormData(form);
					const data = new URLSearchParams(formData);

					fetch('/users/user-save', {
						method: 'POST',
						body: data,
					})
						.then((response) => {
							if (!response.ok) {
								throw new Error(
									'Error en la solicitud: ' + response.statusText
								);
							}
							return response.json();
						})
						.then((result) => {
							alert(result.message);
							window.location.href = '/users/user-management';
						})
						.catch((error) => {
							console.error('Error:', error);
							alert('Ocurrió un error al actualizar los suministros.');
						});
				});
		</script>
	</body>
</html>
