<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>Perfil Usuario</title>
</head>

<body>
    <div class="style-header">
        <div class="icono_encabezado user"></div>
        <span class="encabezado">Perfil de Usuario</span>
    </div>
    <div class="reloj">
        <p class="tiempo"></p>
        <p class="fecha"></p>
    </div>
    <div class="clinic-history-container">
        <div class="user-info">
            <div><img src="/images/doctor.png" alt="Foto de perfil" class="profile-image"></div>

            <div class="user-details">
                <p><strong>Nombre:</strong> Ramona Suarez</p>
            </div>
            <div class="user-details">
                <p><strong>DNI:</strong> 12345678</p>
            </div>
        </div>
        <hr class="divider">
        <div class="info-section">
            <div>
                <p><strong>Direccion: Av Rivadavia 223</strong></p>
            </div>
            <div>
                <p><strong>E-mail: Ramona@gmail.com</strong></p>
            </div>
            <div>
                <p><strong>Tipo de usuario: Administrador</strong></p>
            </div>
        </div>
    </div>
    <script src="/scripts/reloj.js"></script>
</body>
</html>