<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css?family=Mulish&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<title>Crear Nuevo Usuario</title>
	</head>
	<body>
		<div class="style-header">
			<div class="icono_encabezado user"></div>
			<span class="encabezado">Crear Nuevo Usuario</span>
		</div>
		<div class="reloj">
			<p class="tiempo"></p>
			<p class="fecha"></p>
		</div>

		<form id="create-user-form" action="/users/create" method="POST">
			<div class="form-section2">
				<div class="input-container">
					<label for="email" class="input-label">Email:</label>
					<input
						class="input-custom"
						type="email"
						id="email"
						name="email"
						placeholder="cosme@hotmail.com"
						required
					/>
				</div>
				<div class="input-container">
					<label for="password" class="input-label">Contraseña:</label>
					<input
						class="input-custom"
						type="password"
						id="password"
						name="password"
						placeholder="Ej: 12345"
						required
					/>
				</div>
				<div class="select-container">
					<label for="permisos" class="input-label">Permisos:</label>
					<select
						class="dropdown-spacing"
						id="permisos"
						name="permisos"
						required
					>
						<option value="admin">Admin</option>
						<option value="medico">Médico</option>
						<option value="tecnico">Técnico</option>
					</select>
				</div>
			</div>
			<div class="button-container">
				<button
					class="back-button"
					type="button"
					onclick="location.href='/users/user-management'"
				>
					Cancelar
				</button>
				<button class="button-gral" type="submit">Crear Usuario</button>
			</div>
		</form>

		<script>
			document.addEventListener('DOMContentLoaded', function () {
				const urlParams = new URLSearchParams(window.location.search);
				const success = urlParams.get('success');
				if (success) {
					alert(decodeURIComponent(success));
				}
			});
		</script>
		<script src="/scripts/reloj.js"></script>
	</body>
</html>
